#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2 rem;
    text-align: center;
}

/* .logo {
    height: 6 rem;
    padding: 1.5em;
    will-change: filter;
}
.logo:hover{
    filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo.react:hover{
    filter: drop-shadow(0 0 2em #61dafbaa);
}
@keyframes logo-sin  */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background: linear-gradient(
        rgba(48,16,255,1)0%,
        rgba(100,155,255,1)100%
    );
}

.todo-app{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 520px;
    min-height: 600px;
    background: #161a2b;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;

}